<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="http://localhost:8080/university" method="post">
  <input type="text" name="faculty" placeholder="enter faculty">
  <br>
  <select name="universityID" id="">
   <option value="">Select University</option>
   <option value="1">Milly University</option>
   <option value="2">TATU University</option>
   <option value="3">QARDU University</option>
   <option value="4">TERDU University</option>
  </select>
  <button>save</button>
</form>
</body>
</html>